html,
body {
min-width: 1122px;
min-height: 1750px;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, Helvetica, sans-serif;
background-color: #849d8f;
}

.container {
	width: 1146px;
	margin: auto;
	padding: 0 26px;
}
.main-navigation {
	min-height: 70px;
	float: left;
	width: 853px;
}
.menu, .info {
	min-height: 70px;
	float: right;
	width: 293px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.banners {
	width: 1146px;
	margin: auto;
	padding: 0 26px;
	padding-bottom: 35px;
}
.bonus {
	float: left;
	width: 560px;
}
.bonus:last-child {
	margin-right: 0;
}
.hit {
	float: left;
	width: 267px;
	 
}
.hit:last-child {
	margin-right: 0;
}